interactions:
- request:
    body: '{"properties": {"customProperties": {"clitest000003": true}, "description":
      "environment description", "kind": "testing", "onboarding": {"developerPortalUri":
      ["https://developer.contoso.com"], "instructions": "instructions markdown"},
      "server": {"managementPortalUri": ["example.com"], "type": "Azure API Management"},
      "title": "test environment"}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clirg000001/providers/Microsoft.ApiCenter/services/clitest000002/workspaces/default/environments/cli000004?api-version=2024-03-01
  response:
    body:
      string: '{"type":"Microsoft.ApiCenter/services/workspaces/environments","properties":{"title":"test
        environment","kind":"testing","description":"environment description","server":{"type":"Azure
        API Management","managementPortalUri":["example.com"]},"onboarding":{"instructions":"instructions
        markdown","developerPortalUri":["https://developer.contoso.com"]},"customProperties":{"clitest000003":true}},"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clirg000001/providers/Microsoft.ApiCenter/services/clitest000002/workspaces/default/environments/cli000004","name":"cli000004","systemData":{"createdAt":"2025-05-26T08:48:12.6200611Z"}}'
    headers:
      api-supported-versions:
      - 2023-07-01-preview, 2024-03-01, 2024-03-15-preview, 2024-06-01-preview
      content-type:
      - application/json; charset=utf-8
      etag:
      - 73008f4e-0000-0100-0000-68342acc0000
      x-ms-ratelimit-remaining-subscription-global-writes:
      - '11999'
      x-ms-ratelimit-remaining-subscription-writes:
      - '799'
    status:
      code: 200
      message: OK
version: 1
