interactions:
- request:
    body: '{"properties": {"contacts": [{"email": "contact@example.com", "name": "test",
      "url": "example.com"}], "customProperties": {"clitest000003": true}, "description":
      "API description", "externalDocumentation": [{"title": "onboarding docs", "url":
      "example.com"}], "kind": "rest", "license": {"url": "example.com"}, "summary":
      "summary", "title": "test api"}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clirg000001/providers/Microsoft.ApiCenter/services/clitest000002/workspaces/default/apis/cli000004?api-version=2024-03-01
  response:
    body:
      string: '{"type":"Microsoft.ApiCenter/services/workspaces/apis","properties":{"title":"test
        api","summary":"summary","description":"API description","kind":"rest","license":{"url":"example.com"},"externalDocumentation":[{"title":"onboarding
        docs","url":"example.com"}],"contacts":[{"name":"test","url":"example.com","email":"contact@example.com"}],"customProperties":{"clitest000003":true}},"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clirg000001/providers/Microsoft.ApiCenter/services/clitest000002/workspaces/default/apis/cli000004","name":"cli000004","systemData":{"createdAt":"2025-03-21T02:31:31.0826238Z","lastModifiedAt":"2025-03-21T02:31:31.0826197Z"}}'
    headers:
      api-supported-versions:
      - 2023-07-01-preview, 2024-03-01, 2024-03-15-preview, 2024-06-01-preview
      content-type:
      - application/json; charset=utf-8
      etag:
      - d5007189-0000-0100-0000-67dccf830000
      x-ms-ratelimit-remaining-subscription-global-writes:
      - '2994'
      x-ms-ratelimit-remaining-subscription-writes:
      - '194'
    status:
      code: 200
      message: OK
version: 1
