interactions:
- request:
    body: '{"assignedTo": "deployment"}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clirg000001/providers/Microsoft.ApiCenter/services/clitest000002/exportMetadataSchema?api-version=2024-03-01
  response:
    body:
      string: '{"format":"json-schema","value":"{\"type\":\"object\",\"properties\":{\"Id\":{\"type\":\"string\"},\"WorkspaceName\":{\"type\":\"string\"},\"ApiName\":{\"type\":\"string\"},\"VersionName\":{\"type\":\"string\"},\"Name\":{\"type\":\"string\"},\"Title\":{\"type\":\"string\"},\"Description\":{\"type\":\"string\"},\"EnvironmentId\":{\"type\":\"string\"},\"DefinitionId\":{\"type\":\"string\"},\"Server\":{\"type\":\"object\",\"properties\":{\"runtimeUri\":{\"description\":\"Base
        runtime URIs for this deployment.\",\"type\":\"array\",\"items\":{\"type\":\"string\"},\"maxItems\":200}},\"required\":[\"runtimeUri\"]},\"CustomPropertiesData\":{},\"Recommended\":{\"type\":\"boolean\"},\"ApiSourceName\":{\"type\":\"string\"},\"IsDefault\":{\"type\":\"boolean\"},\"EntityId\":{\"type\":\"string\"},\"CatalogNameTypeSafe\":{\"type\":\"object\",\"additionalProperties\":false,\"properties\":{\"Name\":{\"type\":\"string\"}}},\"CatalogName\":{\"type\":\"string\"},\"SubscriptionId\":{\"type\":\"string\"},\"SubscriptionIdTypeSafe\":{\"type\":\"string\"},\"ResourceGroupName\":{\"type\":\"string\"},\"ResourceGroupNameTypeSafe\":{\"type\":\"object\",\"additionalProperties\":false,\"properties\":{\"Name\":{\"type\":\"string\"}}},\"ETag\":{\"type\":\"string\"},\"Created\":{\"type\":\"string\",\"format\":\"date-time\"},\"Updated\":{\"type\":\"string\",\"format\":\"date-time\"},\"CreatedBy\":{\"type\":\"string\"},\"UpdatedBy\":{\"type\":\"string\"},\"customProperties\":{\"type\":\"object\",\"properties\":{\"clitest000003\":{\"type\":\"boolean\",\"title\":\"Public
        Facing\"}},\"unevaluatedProperties\":false,\"required\":[\"clitest000003\"]}}}"}'
    headers:
      api-supported-versions:
      - 2023-07-01-preview, 2024-03-01, 2024-03-15-preview, 2024-06-01-preview
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-global-writes:
      - '11999'
      x-ms-ratelimit-remaining-subscription-writes:
      - '799'
    status:
      code: 200
      message: OK
version: 1
