interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clirg000001/providers/Microsoft.ApiCenter/services/clitest000002/workspaces/default/environments/clitest000003?api-version=2024-03-01
  response:
    body:
      string: '{"type":"Microsoft.ApiCenter/services/workspaces/environments","properties":{"title":"test
        environment","kind":"testing","customProperties":{}},"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clirg000001/providers/Microsoft.ApiCenter/services/clitest000002/workspaces/default/environments/clitest000003","name":"clitest000003","systemData":{"createdAt":"2025-05-26T06:48:48.3989395Z"}}'
    headers:
      api-supported-versions:
      - 2023-07-01-preview, 2024-03-01, 2024-03-15-preview, 2024-06-01-preview
      content-type:
      - application/json; charset=utf-8
      etag:
      - 72000aaa-0000-0100-0000-68340ed00000
      x-ms-ratelimit-remaining-subscription-global-reads:
      - '16499'
    status:
      code: 200
      message: OK
- request:
    body: '{"properties": {"customProperties": {}, "kind": "testing", "title": "Public
      cloud"}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clirg000001/providers/Microsoft.ApiCenter/services/clitest000002/workspaces/default/environments/clitest000003?api-version=2024-03-01
  response:
    body:
      string: '{"type":"Microsoft.ApiCenter/services/workspaces/environments","properties":{"title":"Public
        cloud","kind":"testing","customProperties":{}},"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clirg000001/providers/Microsoft.ApiCenter/services/clitest000002/workspaces/default/environments/clitest000003","name":"clitest000003","systemData":{"createdAt":"2025-05-26T06:48:48.3989395Z","lastModifiedAt":"2025-05-26T06:48:50.8452794Z"}}'
    headers:
      api-supported-versions:
      - 2023-07-01-preview, 2024-03-01, 2024-03-15-preview, 2024-06-01-preview
      content-type:
      - application/json; charset=utf-8
      etag:
      - 720014aa-0000-0100-0000-68340ed20000
      x-ms-ratelimit-remaining-subscription-global-writes:
      - '11999'
      x-ms-ratelimit-remaining-subscription-writes:
      - '799'
    status:
      code: 200
      message: OK
version: 1
