interactions:
- request:
    body: '{"assignedTo": "environment"}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clirg000001/providers/Microsoft.ApiCenter/services/clitest000002/exportMetadataSchema?api-version=2024-03-01
  response:
    body:
      string: '{"format":"json-schema","value":"{\"type\":\"object\",\"properties\":{\"Id\":{\"type\":\"string\"},\"WorkspaceName\":{\"type\":\"string\"},\"Name\":{\"type\":\"string\"},\"title\":{\"description\":\"The
        name of the environment.\",\"type\":\"string\",\"maxLength\":50},\"kind\":{\"description\":\"Kind
        of deployment environment.\",\"type\":\"string\"},\"description\":{\"description\":\"Description
        of the environment.\",\"type\":\"string\",\"maxLength\":1000},\"server\":{\"description\":\"Server
        information of the environment.\",\"type\":\"object\",\"properties\":{\"type\":{\"description\":\"Type
        of the server that represents the environment.\",\"type\":\"string\"},\"managementPortalUri\":{\"description\":\"URIs
        of the server''s management portal.\",\"type\":\"array\",\"items\":{\"type\":\"string\"},\"maxItems\":200}}},\"onboarding\":{\"description\":\"Onboarding
        information for this environment.\",\"type\":\"object\",\"properties\":{\"instructions\":{\"description\":\"Instructions
        how to onboard to the environment.\",\"type\":\"string\",\"maxLength\":1000},\"developerPortalUri\":{\"description\":\"Developer
        portal URIs of the environment.\",\"type\":\"array\",\"items\":{\"type\":\"string\"},\"maxItems\":200}}},\"customProperties\":{\"type\":\"object\",\"properties\":{\"clitest000003\":{\"type\":\"boolean\",\"title\":\"Public
        Facing\"}},\"unevaluatedProperties\":false,\"required\":[]},\"apiSourceName\":{\"description\":\"The
        Id of the API Source, in case the Deployment linked.\",\"type\":\"string\"},\"CatalogNameTypeSafe\":{\"type\":\"object\",\"additionalProperties\":false,\"properties\":{\"Name\":{\"type\":\"string\"}}},\"CatalogName\":{\"type\":\"string\"},\"SubscriptionId\":{\"type\":\"string\"},\"SubscriptionIdTypeSafe\":{\"type\":\"string\"},\"ResourceGroupName\":{\"type\":\"string\"},\"ResourceGroupNameTypeSafe\":{\"type\":\"object\",\"additionalProperties\":false,\"properties\":{\"Name\":{\"type\":\"string\"}}},\"ETag\":{\"type\":\"string\"},\"Created\":{\"type\":\"string\",\"format\":\"date-time\"},\"Updated\":{\"type\":\"string\",\"format\":\"date-time\"},\"CreatedBy\":{\"type\":\"string\"},\"UpdatedBy\":{\"type\":\"string\"}},\"required\":[\"title\",\"kind\"]}"}'
    headers:
      api-supported-versions:
      - 2023-07-01-preview, 2024-03-01, 2024-03-15-preview, 2024-06-01-preview
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-global-writes:
      - '11999'
      x-ms-ratelimit-remaining-subscription-writes:
      - '799'
    status:
      code: 200
      message: OK
version: 1
